#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #f9fafc;
  }
  /* body {
    background-image: url("https://i.postimg.cc/jSNmt6m9/Black-modern-Software-development-Instagram-Post.png");
    background-size: cover;
    background-position: center;
 }
  */